/* VARIÁVEIS  */
:root {
    --bg-menu: #bdbbbb; 
    --logo-width: 150px;
    --content-header-height: 60px;
    --content-footer-height: 40px;
}

/* TABELA  */
.listagem {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tituloListagem {
    margin-left: 20px;
}
.listaAlunos {
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    text-align: center;
}
.cabecTabela {
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: center;
}
.btnAcoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon_bs{
    margin-right: 10px;
}
th,td {
    padding: 10px;
}
.tabTituloRa {
    width: 100px;
}
.tabTituloNome {
    width: 400px;
    text-align: center;
}
.btnAlterar{
    padding: 15px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    width: 5.5rem;
    color: white;
    background-color: rgb(141, 141, 141);
}
.btnExcluir{
    padding: 15px;
    background-color: rgb(201, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
}
.btnAlterar:hover, .btnExcluir:hover{
    transform: scale(105%);
    transition: 200ms ease-in-out;
    cursor: pointer;
}


/* FORMULARIO */
input[type=text] {
    display: inline-block;
    width: 15%;
    padding: 12px;
    margin: 8px 0;
}
input[type=number] {
    padding: 12px;
    width: 50px;
}
.inclui-container {
    margin: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.btnSalvar {
    background-color: rgb(41, 185, 233);
    padding: 12px 20px;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 5px 5px 30px;
}
.btnCancelar {
    background-color: rgb(177, 85, 85);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin: 5px;
}
label {
    padding: 10px;
}
.tituloCadastro {
    margin-left: 30px;
}
select{
    width: 10rem;
    padding: 13px;
}

/* CARD */

.cards {
    text-align: center;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}
.cards .content{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.card-content{
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.cards img{
    border-radius: 5px 5px 0 0;
    width: 50%;
}